html, body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
}

a{
    color:white;
}

/*Footer & Resume/Media Links*/
footer{
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    border-top:1px solid #ddd;
    background: black;
}

#socialMediaLinks img {
    width: 32px;
    padding-top: 5px;
}

/*Navigation Bar*/
#topNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

#mobileMenuButton { /*Hide the menu button on desktop*/
    visibility: hidden;
}
#logo{
    position: absolute;
    top: 0;
    left: 0;
}
#logo img{
    max-height: 64px;
}
#menuLinks{
    visibility: visible;
} 
#menuLinks ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#menuLinks li{
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

/*Front Page Stylings*/
#frontPage {
    text-align: center;
}
#frontPage img {
    max-width: 100%;
}
#hello {
    display: inline-block;
    text-align: left;
}
/*Contact Stylings*/

/*Tablet Stylings*/
@media only screen and (max-width:900px) {
    #menuLinks{
        visibility: hidden;
    }
    #mobileMenuButton {
        display: inline-block;
        visibility: visible;
        position: absolute;
        top: 0px;
        right: 0px;
        background: white;
        color: black;
        font-size: xxx-large;
    }
    #topNav:hover #menuLinks{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: red;
        width: 100%;
        visibility: visible;
        position: absolute;
        top: 38px;
        transition: .3s;
        z-index: 100;
    }
}