html, body {
    background-color: #878FAC;
    color: #EFEEED;
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
}

a{
    color:#EFEEED;
}

hr{
    color: black;
    z-index: 99;
}

/*Navigation Bar*/
header{
    background-color: #48536E;
}
.topNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 34px;
}

#mobileMenuButton { /*Hide the menu button on desktop*/
    visibility: hidden;
}
#logo{
    position: absolute;
    top: 0;
    left: 0;
}
#logo img{
    max-height: 40px;
}
#menuLinks{
    visibility: visible;
} 
#menuLinks ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#menuLinks li{
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background-color: #A34657;
}

/*Footer & Resume/Media Links*/
footer{
    color: #EFEEED;
    position:fixed;
    bottom:0px;
    left:0;
    width:100%;
    height:60px;
    border-top:1px solid #ddd;
    background-color: #48536E;
}

#socialMediaLinks img {
    width: 32px;
    padding-top: 5px;
}
#copyright{
    bottom:0;
}

/*Front Page Stylings*/
.frontPage {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 100px;
}
.frontPage img {
    max-width: 80%;
    border: solid 1px #A34657;
}
.frontPage article {
    display: flex;
    background: #F5F3F2;
    border: solid black;
    color: #48536E;
    margin: 25px;
    padding: 25px;
    border-radius: 25px;
    justify-content: space-between;
    max-width: 80%;
    align-items: center;
}
.frontPage #aboutSkillset {
    text-align: center;
    width: 18%;
}
.frontPage #mainText{
    width: 80%;
    text-align: left;
}
.frontPage #hello {
    display: inline-block;
    text-align: left;
    background: #A34657;
    padding: 50px;
    color: #F5F3F2;
    border-color: #F5F3F2;
}
/*Projects Stylings*/
.projects{
    text-align: left;
    margin: 10%;
    margin-top: 5%;
    padding: 25px;
    word-break: break-all;
    align-items: center;
    background: #F5F3F2;
    border: solid black;
    color: #48536E;
    border-radius: 25px;
    margin-bottom: 300px;
}
.projects a {
    color: #A34657;
}
.projects #projectTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.projects #category{
    padding-right: 10px;
    color: #A34657;
}
.projects #date{
    color: green;
}
.projects #subinfo{
    font-size: small;
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.projects article img{
    align-self: baseline;
    width: 20%;
    max-width: 300px;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}
.projects #readmore img{
    width: 18px;
}

/*Blogs Stylings */
.blogs {
    text-align: left;
    margin: 10%;
    margin-top: 5%;
    padding: 25px;
    word-break: break-word;
    align-items: center;
    text-align: center;
    background: #F5F3F2;
    border: solid black;
    color: #48536E;
    border-radius: 25px;
    margin-bottom: 300px;
    width: 80%;
    justify-content: center;
}
.blogs a{
    color: #A34657;
    text-decoration: none;
}
.blogs article #blog{
    display: flex;
}
.blogs article .post{
    display: flex;
}
.blogs article .post a{
    color: #48536E;
    text-decoration: none;
}
.blogs article .post p{
    text-overflow: ellipsis;
}
.blogs #title{
    min-width: 20%;
}
.blogs article img{
    width: 200px;
    max-width: 300px;
    max-height: 300px;
}
.blogs #subinfo{
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;   
}
.blogs #category {
    color:#A34657;
}
.blogs #date {
    color: green;
}
/*Contact Stylings*/
.contact {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: auto;
    margin-bottom: 300px;
}
.contact article {
    text-align: left;
    margin: 2%;
    padding: 25px;
    word-break: break-word;
    align-items: center;
    text-align: center;
    background: #F5F3F2;
    border: solid black;
    color: #48536E;
    border-radius: 25px;
    width: 40%;
    justify-content: center;
}
.contact a{
    color: #A34657;
    text-decoration: none;
}
.contact #portrait{ 
    width: 30%;
    border-radius: 90px;
}
.contact form{
    display: flex;
    flex-direction:column;
}
.contact form div{
    width: 100%;
}

.contact input{
    width: 70%;
}
.contact textarea{
    width: 70%;
}

/*Tablet Stylings*/
@media only screen and (max-width:900px) {
    /*Change menu links into hamburger menu on mobile devices*/
    #menuLinks{
        visibility: hidden;
    }
    #mobileMenuButton {
        display: inline-block;
        visibility: visible;
        position: absolute;
        top: 0px;
        right: 0px;
        background: #A34657;
        color: #F5F3F2;
        width: 50px;
        height: 43px;
        font-size: xx-large;
    }
    .topNav:hover #menuLinks{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #A34657;
        width: 100%;
        visibility: visible;
        position: absolute;
        top: 22px;
        right: 0px;
        transition: .3s;
        z-index: 100;
        border: solid white;
    }
}
/*Phone Stylings Stylings*/
@media only screen and (max-width:640px) {
    /*Home/Frontpage Article*/
    .frontPage article 
    {
        display: flex;
        flex-direction: column;
    }
    .frontPage article #aboutSkillset {
        padding-bottom: 10px;
    }
    /*Blogs*/
    .blogs .post{
        flex-direction: column;
    }
    .blogs #title{
        padding-bottom: 0px;
    }
    .blogs #blog{
        align-items: center;
    }
    /*Contact*/
    .contact{
        flex-direction: column;
    }
    .contact article{
        width:80%;
    }
}